body{
    margin: 0px;
    padding:0px;   
}

* {
/*   border: 1px #ddd solid; */
}

div[equation]{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:auto;
    margin-top:50px;
    min-height: 100px;
    margin-left:auto;
    margin-right:auto;
    border: 1px #ddd solid;
    box-sizing: border-box;
}

div[equation]:after{
  content: "";
  clear: both;
  display: table;
}

div[equation] *{
    float:left;
}

div[equation] sup{
    float:none;
    font-size:.4em;
}


div[integral], div[doubleintegral], div[tripleintegral], div[summation] {
    width:auto;
    display:inline-block;
    margin-right:9px;
    margin-left:-4px;
    padding-left:9px;
    box-sizing: border-box;
    height: 100px;
    position:relative;
}

div[integral]::before{
    content: "\222b";
    font-size:5em;
    float:left;
}




div[integral] > div[upperbound]{
    height:25%;
    width:auto;
    position:absolute;
    top:8px;
    padding-left:40px;
    font-size:1em;
    font-style: italic;
}

div[integral] > div[lowerbound]{
    height:auto;
    width:auto;
    position:absolute;
    top:75px;
    padding-left:30px;
    font-style: italic;
    font-size:1em;
}


div[integral] > div[of]{
    width:auto;
    display:inline-block;
    height:25px;
    margin-top:1.5em;
    padding-left:18px;
    
    box-sizing: border-box;
    font-style: italic;
    font-size:1.5em;
}

div[equation] > div[term]{
    width:auto;
    display:inline-block;
    height:30%;
    top:35%;
    margin-bottom:40%;
    padding-left:3px;
    float:left;
    box-sizing: border-box;
    position:relative;
    font-style: italic;
    font-size:1.5em;
}



div[doubleintegral]::before{
    content: "\222b \222b";
    font-size:5em;
    float:left;
}

div[doubleintegral] > div[upperbound]{
    height:25%;
    width:auto;
    position:absolute;
    top:8px;
    padding-left:62px;
    font-size:1em;
    font-style: italic;
}

div[doubleintegral] > div[lowerbound]{
    height:auto;
    width:auto;
    position:absolute;
    top:75px;
    padding-left:50px;
    font-style: italic;
    font-size:1em;
}


div[doubleintegral] > div[of]{
    width:auto;
    display:inline-block;
    height:25%;
    margin-top:1.5em;
    padding-left:18px;
    box-sizing: border-box;
    font-style: italic;
    font-size:1.5em;
}

div[tripleintegral]::before{
    content: "\222b \222b \222b";
    font-size:5em;
    float:left;
}

div[tripleintegral] > div[upperbound]{
    height:25%;
    width:auto;
    position:absolute;
    top:8px;
    padding-left:86px;
    font-size:1em;
    font-style: italic;
}

div[tripleintegral] > div[lowerbound]{
    height:auto;
    width:auto;
    position:absolute;
    top:75px;
    padding-left:70px;
    font-style: italic;
    font-size:1em;
}


div[tripleintegral] > div[of]{
    width:auto;
    display:inline-block;
    height:25%;
    margin-top:1.5em;
    padding-left:18px;
    box-sizing: border-box;
    font-style: italic;
    font-size:1.5em;
}



div[summation]::before{
    content: "\2211";
    font-size:5em;
    float:left;
}


div[summation] > div[upperbound]{
    height:25%;
    width:auto;
    position:absolute;
    top:2px;
    font-size:1em;
    font-style: italic;
    width:50px;
    text-align:center;

}

div[summation] > div[lowerbound]{
    height:auto;
    width:45px;
    position:absolute;
    top:82px;
    font-style: italic;
    font-size:1em;
    text-align:center;
    text-align:center;

}



div[summation] > div[of]{
    width:auto;
    display:inline-block;
    height:25%;
    margin-top:1.5em;
    padding-left:3px;
    box-sizing: border-box;
    font-style: italic;
    font-size:1.5em;
}


div[product]{
    width:auto;
    display:inline-block;
    margin-right:9px;
    margin-left:-4px;
    padding-left:9px;
    box-sizing: border-box;
    height: 100px;
    position:relative;
    float:left;
}


div[product]::before{
    content: "\03A0 ";
    font-size:5em;
    padding-top:5px;
    float:left;
}


div[product] > div[upperbound]{
    height:25%;
    width:auto;
    position:absolute;
    top:4px;
    font-size:1em;
    font-style: italic;
    width:65px;
    text-align:center;

}

div[product] > div[lowerbound]{
    height:auto;
    width:65px;
    position:absolute;
    top:80px;
    font-style: italic;
    font-size:1em;
    text-align:center;
    
}



div[product] > div[of]{
    width:auto;
    display:inline-block;
    height:25%;
    margin-top:1.5em;
    padding-left:3px;
    box-sizing: border-box;
    font-style: italic;
    font-size:1.5em;
}



div[add]{
    display:inline-block;
}

div[subtract]{
    display:inline-block;
}

div[multiply]{
    display:inline-block;
}

div[divide]{
    display:inline-block;
}

div[add]::before{
    font-style: normal;
    content: '+';
    float:left;
}

div[subtract]::before{
    font-style: normal;
    content: '-';
    float:left;
}

div[multiply]::before{
    font-style: normal;
    content: '\00D7';
    float:left;
}


div[divide]::before{
    font-style: normal;
    content: '\00F7';
    float:left;
}


div[equation] > div[add]{
    width:auto;
    display:inline-block;
    height:100px;
    padding-left:3px;
    margin-top:0px;
    padding-top:35px;
    box-sizing: border-box;
    position:relative;
    font-style: italic;
    font-size:1.5em;
}

div[equation] > div[subtract]{
    width:auto;
    display:inline-block;
    height:100px;
    padding-left:3px;
    margin-top:0px;
    padding-top:35px;
    box-sizing: border-box;
    position:relative;
    font-style: italic;
    font-size:1.5em;
}

div[equation] > div[multiply]{
    width:auto;
    display:inline-block;
    height:100px;
    padding-left:3px;
    margin-top:0px;
    padding-top:35px;
    box-sizing: border-box;
    position:relative;
    font-style: italic;
    font-size:1.5em;
}

div[equation] > div[divide]{
    width:auto;
    display:inline-block;
    height:100px;
    padding-left:3px;
    margin-top:0px;
    padding-top:35px;
    box-sizing: border-box;
    position:relative;
    font-style: italic;
    font-size:1.5em;
}